*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "header__left header__right";
  min-height: 100vh;
}

.header__left,
.header__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em;
}

.header__left {
  grid-area: header__left;
  background-color: #b3b396;
}

.header__right {
  grid-area: header__right;
  background-color: #fefeee;
}

#initials::before {
  content: "";
}
