/* fonts */
/* Atkinson-Hyperlegible regular */
@font-face {
  font-family: "Atkinson";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("Atkinson-Hyperlegible-Regular"),
    url(../fonts/Atkinson/SVG/Atkinson-Hyperlegible-Regular-102.svg),
    url(../fonts/Atkinson/WOFF2/Atkinson-Hyperlegible-Regular-102a.woff2),
    url(../fonts/Atkinson/WOFF/Atkinson-Hyperlegible-Regular-102.woff);
}
/* Atkinson-Hyperlegible italic */
@font-face {
  font-family: "Atkinson";
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: local("Atkinson-Hyperlegible-Italic"),
    url(../fonts/Atkinson/SVG/Atkinson-Hyperlegible-Italic-102.svg),
    url(../fonts/Atkinson/WOFF2/Atkinson-Hyperlegible-Italic-102a.woff2),
    url(../fonts/Atkinson/WOFF/Atkinson-Hyperlegible-Italic-102.woff);
}

/* Atkinson-Hyperlegible bold */
@font-face {
  font-family: "Atkinson";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: local("Atkinson-Hyperlegible-Bold"),
    url(../fonts/Atkinson/SVG/Atkinson-Hyperlegible-Bold-102.svg),
    url(../fonts/Atkinson/WOFF2/Atkinson-Hyperlegible-Bold-102a.woff2),
    url(../fonts/Atkinson/WOFF/Atkinson-Hyperlegible-Bold-102.woff);
}

/* Atkinson-Hyperlegible italic-bold */
@font-face {
  font-family: "Atkinson";
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: local("Atkinson-Hyperlegible-BoldItalic"),
    url(../fonts/Atkinson/SVG/Atkinson-Hyperlegible-BoldItalic-102.svg),
    url(../fonts/Atkinson/WOFF2/Atkinson-Hyperlegible-BoldItalic-102a.woff2),
    url(../fonts/Atkinson/WOFF/Atkinson-Hyperlegible-BoldItalic-102.woff);
}

/* basic reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #b3b396;
  --color-secondary: rgb(232, 232, 207);
  --color-accent: #3a3a31;
  --color-line: rgba(232, 232, 207, 0.06);

  --corner: 5px;
  --pill: 50px;
  --width: 100%;
  --height: 100%;
  --shadow: 2px 2px 3px 3px rgba(var(--clr-foc-num), 0.2);
  --clr-prmy: rgb(255, 83, 206);
  --clr-scdy: rgb(141, 240, 137);
  --clr-hlt: rgb(163, 77, 139);
  --clr-foc: rgb(var(--clr-foc-num));
  --clr-foc-num: 121, 57, 103;
}

body {
  font-family: "Atkinson";
  font-weight: normal;
}
.header {
  color: var(--color-accent);
}

.header__left,
.header__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em;
  min-height: 50vh;
}

.header__left {
  grid-area: header__left;
  background-color: var(--color-primary);
  background-image: url(../images/Catlow_logo_pale.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  text-align: center;
}

.header__right {
  grid-area: header__right;
  background-color: var(--color-secondary);
}
header h1,
header h2 {
  z-index: 4;
  line-height: 1.8;
}
header p {
  max-width: 40ch;
}

@media (min-width: 600px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header__left header__right";
    min-height: 100vh;
    color: var(--color-accent);
  }
}

/* Header Left */
.header__left__text {
  max-width: 100vw;
  overflow: hidden;
}
@media (min-width: 200px) {
  .header__left__text {
    max-width: 90%;
  }
}

#initials {
  font-size: clamp(0.7rem, 2vw, 2.5rem);
  font-weight: lighter;
  position: relative;
  display: inline-block;
}

#initials::before,
#initials::after {
  content: "";
  background: var(--color-accent);
  height: 0.05em;
  display: block;
  position: absolute;
  width: 20vw;
  top: 45%;
}

#initials::before {
  right: 150%;
}
#initials::after {
  left: 150%;
}

#name {
  font-size: clamp(2rem, 5vw, 6rem);
  font-weight: 500;
  /* padding: 0 1em; */
  /* border: 1px solid var(--color-secondary); */
  border-radius: 4px;
  width: 100%;
  margin-bottom: 0.3em;
}
#job-title {
  font-size: clamp(0.7rem, 2vw, 3rem);
  font-style: italic;
  font-weight: lighter;
}

#logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 98%;
  max-width: 98%;
  z-index: 1;
}

/* Header Right */

.self {
  font-size: clamp(12px, 1.5vw, 2rem);
  line-height: 2;
}

/* contact form */

/* grid and place-items: center is a really easy way of getting things centered, but remember to give a heigth for the container */
.form__container {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
}
/* Flex wrap in the form element allows responsive layout without media queries */
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  max-height: 80vh;
  padding: 2em;
  width: 100%;
}
/* decides size of buttons and fields */
.form > * {
  flex: 1 1 100%;
  max-width: 200px;
  min-width: 100px;
}
/* putting the form elements in groups allows for better control */
.form__group {
  position: relative;
  display: inline;
  max-height: 50px;
}
.form__label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  transition: all 0.5s ease-in-out;
}
.input__box {
  box-sizing: border-box;
  border: none;
  border-radius: var(--pill);
  padding: 1em;
  width: var(--width);
  height: var(--height);
  box-shadow: var(--shadow);
  background-color: white;
}
/* for this to work to label must be after the input in the html*/
/* .input__box:hover + .form__label,  */
.input__box:focus + .form__label,
.input__box:valid + .form__label {
  transform: translate(90%, 0) scale(0.8);
  transform-origin: right;
  color: rgba(var(--clr-foc-num), 0.9);
}
/* the valid selector needs "required" in the input attributes in the html.
This hides the label when the field has been filled in.*/
.input__box:valid + .form__label {
  color: rgba(var(--clr-foc-num), 0.4);
}

.btn {
  display: inline;
  padding: 1em 2em;
  border-radius: var(--pill);
  font-family: inherit;
  border: none;
  cursor: pointer;
  box-shadow: var(--shadow);
  background-color: var(--clr-hlt);
  color: #fff;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}
/* rotates the button on hover and focus */
.btn:hover,
.btn:focus {
  transform: rotate(5deg);
  background-color: var(--clr-foc);
}
